{% extends 'layout.twig' %}

{% block body %}
  <div class="tips">
    <div class="arrow">
      <img src="/images/arrow.png" alt="">
    </div>
    <div class="content">
      <img src="/images/tips.png" alt="">
    </div>
  </div>
{% endblock %}
