body {
  width: 100%;
  padding: 0;
  background: rgba(0,0,0,0.52);
  margin: 0;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.tips {
  .arrow {
    padding-top: 20px;
    padding-right: 10px;
    text-align: right;
    img{
      width: 30px;
    }
  }
  .content {
    margin: 30px 60px;
    img {
      width: 100%;
    }
  }
}
